<div class="wrapper">
		<div class="kontakt-content">
			<div class="header">
				{{ 	slide.content }}
			</div>
			<ul>
				<li class="adres tooltip"><span>A:<span class="tooltip-content">Adres</span></span><a href="{{ slide.adres_url}}" >{{ slide.adres }}</a></li>
				<li class="telefon tooltip"><span>T:<span class="tooltip-content">Telefon</span></span>{{ slide.telefon }}</li>
				<li class="fax tooltip"><span>F:<span class="tooltip-content">Fax</span></span>{{ slide.fax }}</li>
				<li class="godziny tooltip"><span>G:<span class="tooltip-content">Godziny Otwarcia</span></span>{{ slide.godziny_pn }}</li>
				<li>{{ slide.godziny_wt }}</li>
				<li>{{ slide.godziny_sr }}</li>
				<li>{{ slide.godziny_czw }}</li>
				<li>{{ slide.godziny_pt }}</li>
				<li>{{ slide.godziny_sb }}</li>
			</ul>
			
			<div class="karty"></div>
		
		</div>
</div>
<div id="map" class="full">
</div>
