<header class="site-header">
  <div class="nav-col">

    

    <nav class="site-nav">
      <div class="title-area">
      	 <a class="site-title logo" href="#top" data-scroll><img src="{{ "/images/style/logo.png" | prepend: site.baseurl }}" alt="{{ site.title }}" /></a>
      </div>

      <div class="nav-collapse">
      	<ul>
     	
	 		{% for slide in site.slides %}
			
				<li>
	    			<a href="#{{ slide.type }}" data-scroll>{{ slide.title }}</a>
	   		 	</li>
	   		 	
			{% endfor %}
		     		
      	</ul>
      </div>

      
    </nav>
  </div>
</header>