//personel
@include breakpoint($medium-up){
  .personel-list {
    li {
      @include gallery(6 of 12);
      position:relative;
    }
  }
}
@include breakpoint($large-up){
  .personel-list {
    li {
      @include gallery(4 of 12);
      position:relative;
    }
  }
}

.personel-wrapper {
  height: 0;
  padding-bottom: 150%;
}
  .personel-name {
    position:absolute;
    background:rgba($light-blue,0.75);
    color:$white;
    width:100%;
    padding:16px 3% 12px 3%;
    @include large;
    @include bold;
    bottom:0;
  }
  .personel-img {
    width:101%;
  }
  .personel-desc {
    display:none;
  }

@include breakpoint($small-only) {
  .personel-name {
    bottom:32px;
    background:$white;
    color:$light-blue;
    padding:12px 3% 6px 3%;
  }
  .personel-position {
    line-height:32px;
    position:absolute;
    bottom:0;
    background:$light-blue;
    color:$white;
    width:100%;
    padding:0 3% 0 3%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
  }
}

@include breakpoint($medium-up) {

  .personel-list {
    color:$black;
  }
      .personel-name {
        @include light;
        position:static;
        background:transparent;
        color:$black;
        padding:0;
        text-align:left;
      }
      .personel-position {
        @include trailer;
        padding-left:17px;
        display:block;

        &:before {
          height:1px;
          width:12px;
          content:"";
          background:$black;
          display:block;
          position:relative;
          top:0.8em;
          left:-17px;
          display:block;
        }
      }
      .personel-desc {
        @include smaller;
        display:block;
      }
        .personel-wrapper-content {
          top:4%;
          left:7%;
          bottom:7%;
          right:7%;
          position:absolute;
          opacity:0;
          @include transition-property(opacity);
          @include transition-duration($transition-time);
        }
        .personel-img {
          margin:0 auto;
        }
      }
      .doctors .personel-wrapper {
        background:$light-blue;
      }
      .asisstants .personel-wrapper {
        background:$white;
      }

@inlude breakpoint($xlarge-up) {
  .personel-desc {
    @include base-font-size;
  }
    .personel-wrapper-content {
      top:10%;
      left:10%;
      right:10%;
      bottom:10%;
    }
}

.doctors {
  .personel-wrapper {
    @include transition-property(width);
    @include transition-duration($transition-time*2);
    position:relative;
    z-index:10;
    width:0;

    &:hover {
      z-index:20;
    }
  }

  &:nth-child(3n) .personel-wrapper {
    left:-200%;
  }
  &:nth-child(3n+2) .personel-wrapper {
    left:-100%;
  }


    &:hover .personel-img {
      opacity:.1;
      @include transition-property(opacity);
      @include transition-duration($transition-time*2);
    }
    &:hover .personel-wrapper-content {
      opacity:.6;
    }
    &:hover .personel-wrapper {
      width:300%;
    }
}
  .personel-wrapper-img {
    height:0;
    padding-bottom:150%;
    position:absolute;
    top:0;
    z-index:9;
  }
