//personel
@include breakpoint($medium-up){
  .personel-list {
    li {
      @include gallery(6 of 12);
      position:relative;
    }
  }
}
@include breakpoint($large-up){
  .personel-list {
    li {
      @include gallery(4 of 12);
      position:relative;
    }
  }
}

.personel-wrapper {
  height: 0;
  padding-bottom: 150%;
}
  .personel-name {
    @include large;
    @include bold;
    position:absolute;
    background:rgba($light-blue,0.75);
    color:$white;
    width:100%;
    padding:16px 3% 12px 3%;
    bottom:0;
  }
  .personel-img {
    width:100%;
  }
  .personel-desc {
    display:none;
  }

@include breakpoint($small-only) {
  .personel-name {
    bottom:32px;
    background:$white;
    color:$light-blue;
    padding:12px 3% 6px 3%;
  }
  .personel-position {
    line-height:32px;
    position:absolute;
    bottom:0;
    background:$light-blue;
    color:$white;
    width:100%;
    padding:0 3% 0 3%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
  }
}

@include breakpoint($medium-up) {

  .personel-list {
    color:$black;
  }
    .personel-wrapper-content {
      top:rhythm($lil);
      left:rhythm($lil);
      bottom:rhythm($lil);
      right:rhythm($lil);
      position:absolute;
    }
      .personel-name {
        position:static;
        background:transparent;
        color:$black;
        padding:0;
        text-align:left;
      }
      .personel-position {
        padding-left:17px;
        display:block;

        &:before {
          height:1px;
          width:12px;
          content:"";
          background:$black;
          display:block;
          position:relative;
          top:0.8em;
          left:-17px;
          display:block;
        }
      }
      .personel-desc {
        @include smaller;
        @include leader;
        display:block;
      }

      }


@inlude breakpoint($xlarge-up) {
  .personel-desc {
    @include base-font-size;
  }
    .personel-wrapper-content {
      top:rhythm(2*$lil);
      left:rhythm(2*$lil);
      bottom:rhythm(2*$lil);
      right:rhythm(2*$lil);
    }
}


.doctors .personel-wrapper {
  background:rgba($light-blue,0.4);
}
.asisstants .personel-wrapper {
  background:rgba($white, 0.4);
}

// new desc prev

@include breakpoint($medium-up) {
  .personel-item {

    &:hover {
      cursor:pointer;

      & .personel-img {
        opacity:0.8;
        @include transition-property(all);
        @include transition-duration($transition-time);
      }
    }

    &.asisstants {
      overflow:hidden;
    }
    .personel-wrapper {
      @include transition-property(all);
      @include transition-duration($transition-time);
      transform: translateX(-100%); //hide doctors
      position:relative;
      z-index:10;
      width:100%;
    }
    &.doctors .personel-wrapper {
      width:200%; // set doctors desc wdth
    }


    &.doctors:nth-child(2n) .personel-wrapper { // place desc box
      left:-100%;
      text-align:right;

      .personel-name {
        text-align:right;
      }
    }

      &.active .personel-wrapper {
        transform: translateX(0);
        background:rgba(white,0.8);
      }
      &.doctors.active .personel-wrapper {
        background:rgba($light-blue,0.8);
      }
  }
}
@include breakpoint($large-up) {
  .personel-item {
     &.doctors .personel-wrapper {
      width:300%;
    }

    &.doctors:nth-child(3n) .personel-wrapper {
      left:-200%;
      text-align:right;

      .personel-name {
        text-align:right;
      }
    }

    &.doctors:nth-child(3n+2) .personel-wrapper {
      left:-100%;
      text-align:center;

      .personel-name {
        text-align:center;
      }
    }

  } // !.personel-item
}


  .personel-wrapper-img {
    height:0;
    padding-bottom:150%;
    position:absolute;
    top:0;
    z-index:9;
  }