/////////////
//typography
$base-font-size: 18px;
$line-height:28px;
$lil:2; //line divider
$base-line-height: $line-height/$lil;

$font-family: 'Fira Sans', Helvetica, Arial, sans-serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 500;

$def-font-weight: 300;


$transition-time:0.6s;

$netbook-font-scale:0.95;
$tablet-font-scale:0.9;
$mobile-font-scale:0.85;

////////////
// font size
$f-xlarge: 34px;
$f-large: 22px;
$f-smaller:16px;
$f-small:14px;

// px to rem
@function rem-calc($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: rem-calc($size);
}

////////////////////
// Grid


$susy: (
  columns: 4,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);
$medium: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);
$large-gr: (
  columns: 24,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);
$content: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

//break points
$breakpoint-to-ems:true;

  $bp_1:640px;
  $bp_2:880px;
  $bp_3:1280px;

$medium-only: $bp_1 $bp_2;
$large:$bp_2;
$large-only:$bp_2 $bp_3;
$medium-up: $bp_1;
$medium-down: max-width $bp_2;
$small-only: max-width $bp_1;
$xlarge-up: $bp_3;


$col-large:24;
$col-medium:12;
$col-small:4;

/////////////
// colors
$white:#fff;
$black:#222;
$light-blue:#b5e0e8;
$dark-blue:#85a3b2;

$menu-column-background:$white;
$menu-tab-background:$white;
$menu-tab-text:$dark-blue;
$menu-tab-background-hover:$white;
$menu-tab-text-hover:lighten($dark-blue,10%);
$menu-line:$dark-blue;



/////////////////
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }