// nav mobile


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

.site-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  background:$white;
  height:50px;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  width: 35px;
  margin: 7px 10px 0 10px;
  color: #fff;
  height: 35px;
  float: left;
  overflow: hidden;
  
  img {
    width:35px;
  }
}



//  MASK


.mask {
  @include transition-property(opacity);      
  @include transition-duration($transition-time); 
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@include breakpoint($medium-up) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}



//  NAVIGATION STYLES


.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-collapse {
  width:100%;
}
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
  border-bottom: 1px solid $dark-blue;
  
  li {
    width: 100%;
    padding:0 12px;
    background:$light-blue;
    
    a {
      padding:10px 0;
      width:100%;
      border-bottom: 1px solid $dark-blue;
      display:block;
      
    }
    &:last-child a {
      border-bottom:0;
    }
  }  
}


//  NAV TOGGLE STYLES


@font-face {

  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 50px;
  float: right;
}

.nav-toggle:before {
  color: $dark-blue; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}







/////////////////////
// LARGE
//navigation column

@include breakpoint($medium-up) {
  .nav-col {
    position:fixed;
    background:$menu-column-background;
    padding:25px 25px 0 25px;
    
    .title-area {
      margin-bottom:25px;
    }
  }
  
  .nav-collapse ul {
  $menu-line-wd:55px;
  $menu-line-height:1px;
  $menu-line-gap:65px;
  
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  
    li {
      padding:0;
      
      a {      
        color:$menu-tab-text;
        background:$menu-tab-background;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        float: left;
        padding:rem-calc(4px) 0;  
        @include transition-property(all);      
        @include transition-duration($transition-time); 
        border:none;      
        
        &:hover {
          color:$menu-tab-text-hover;
          background:$menu-tab-background-hover;
          padding-left:$menu-line-gap;      
          
        }
        &:before {
          height:$menu-line-height;
          width:0;
          content:"";
          background:$menu-line;
          display:block;
          position:relative;
          top:0.8em;
          left:0;      
        }
        &:hover:before {
          width:$menu-line-wd;
          left:-$menu-line-gap;
        }
      }
    
  
      &.active a, a:active {
        color:$menu-tab-text-hover;
        background:$menu-tab-background-hover;   
        padding-left:$menu-line-gap;        
      
        &:before {
          height:$menu-line-height;
          width:$menu-line-wd;
          content:"";
          background:$menu-line;
          display:block;
          position:relative;
          top:$base-line-height;
          left:-$menu-line-gap; 
        }   
      }
    }
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@include breakpoint($medium-up) {
  .js .nav-collapse {
    position: relative;
    max-height: none;    
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



@include breakpoint($medium-up) {
  .nav-collapse {
    width: 100%;
    
    ul {
      border-bottom: 0;
    }  
  }
  
  .site-header {
    height:auto;
  }

  .logo {
    width:100%;
    height:auto;
    margin:0 0 20px 0;
    
    img {
      width:70%;
    }
  }
}

.nav-collapse li {

}

@include breakpoint($bp_1) {
  .nav-collapse li {
    width: 100%;
  }
}



.nav-collapse ul ul a {
    padding-left: 2em;
}

@include breakpoint($bp_1) {
  .nav-collapse ul ul a {
    display: none;
  }
}

