// normalize
//@import "normalize";

// reset browser default style
@import "compass/reset";

//variables and functions
@import "global";
@import "compass";

//susy grids
@import "breakpoint";
@import "grids";

//typography
@import "typography";

// navigation
@import "navigation";

//gallery
@import "gallery";

img {
  max-width:100%;
}

.show-for-small-logo img {
  background:$light-blue;
  width:100%;
  display:block;
  margin-top:50px;
  padding-top:20px;
}
@include breakpoint($medium-up) {
  .show-for-small-logo {
    display:none;
  }
}

//slides
.slide {
  clear:both;
  overflow:hidden;
  padding:10% 0;
}
.slide-galeria, .slide-personel {
  padding:0;
}

////////////////////////
//full screen background
.bg-image {
  display:none;
}
@include breakpoint($large-up) {
  .mh-100 {
    min-height:100vh;
    position:relative;

    .bg-image {
      max-width:4000px;
      position:relative;
      z-index:0;
      z-index:-1;
      display:block;
    }
  }
}
.mh-100 {
  min-height:100vh;
}

/////////////
//kontakt
.slide-kontakt {
  background:$light-blue;
  padding-bottom:0;

  .header {
      @include bold;
      color: darken($dark-blue, 10%);
      padding-bottom:30px;
      margin-bottom:30px;
      border-bottom:1px solid lighten($dark-blue, 10%);;

      p {
        margin:0;
      }
    }
    .wrapper {
      overflow:hidden;
    }
    #map {
      width:100%;
    }

    ul {
     color:black;
     padding-bottom: rhythm($lil);

      li {
        padding:6px 0;

        b {
          @include regular;
        }
      }

      .tooltip-content {
        height:0;
        width:0;
        @include transition-property(opacity);
        @include transition-duration($transition-time);
        opacity:0;
        background:$white;
        color: darken($dark-blue, 10%);;
        @include light;
        margin-left:10px;
        display:none;
      }
      .tooltip > span:hover .tooltip-content {
        height:auto;
        width:auto;
        padding: 3px 6px;
        opacity:1;
        position:absolute;
        display:inline;
      }
      .tooltip > span {
        @include bold;
        color:$dark-blue;
        display:block;
        width:rem-calc(40px);
        float:left;
        height:10px;
        &:hover {
          cursor:pointer;
        }
      }
      li:not(.tooltip):before {
        width:rem-calc(40px);
        float:left;
        content:"";
        height:10px;
        display:block;
      }
    }

    .kontakt-content{
      @include span($m-cols-content of $col-medium);
      @include push($m-cols-content-margin of $col-medium);
    }
}
@include breakpoint($medium-up) {
  .slide-kontakt {
    .header {
      padding-top:0;
    }
  }
}

@include breakpoint($large-up) {
  .full {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
  }
  .bg-kontakt {
      top:0;
      left:0;
      bottom:0;
      right:0;
      background:rgba($light-blue,0.9);
      z-index:110;
      @include span(12 of $col-large);
      position:absolute;
  }
  .slide-kontakt {
    background:transparent;

    .wrapper {
      @include span(12 of $col-large);

      .kontakt-content{
        margin-left:8.3%;
        position:relative;
        z-index:111;
      }
    }
  }
}

//cennik
.slide-cennik {
  overflow:hidden;

  h1 {
    text-transform:uppercase;
    color:$dark-blue;
    @include large;
    @include trailer(3/2*$lil);
    overflow:hidden;

    span {
      float:left;
    }
  }
  h2 {
    @include trailer(0.5);
    @include bold;
    clear:both;
  }
  ul {
    @include trailer(1.5*$lil);

    li {
      clear: both;
      padding: 0 0 5px 0;

      span + span {
        @include bold;
        display:block;
        clear:both;
      }
    }
  }

    @include breakpoint($large-up) {

      h1 {
        text-transform:uppercase;
        color:$dark-blue;
        @include trailer(3/2*$lil);
        @include xlarge;

        &:before {
          content: "|";
          display:block;
          padding-right:12px;
          float:left;
          font-size:1.3em;
        }
        &:after {
          content: "|";
          display:block;
          padding-left:12px;
          float:left;
          font-size:1.3em;
        }
      }
      .bg-image {
        opacity:0.15;
      }
      ul {
      li {
        clear: both;
        padding:0;

        span:first-child {
          float: left;
          padding: 0 .4em 0 0;
          margin: 0;
          display:inline;
        }
        span + span {
          float: right;
          padding: 0 0 0 .4em;
          margin: 0;
          display:inline;
          clear:none;
          @include regular;

          &:before,&:after {
            content:"";
          }
        }
        &:after {
          content: "";
          display: block;
          overflow: hidden;
          height: 1em;
          border-bottom: 1px dotted;
          color: $light-blue;
          position:relative;
          top:-0.22em;
        }
      }
    }
  }

  @include breakpoint($large-only) {
    .content {
      @include span($l-cols-content + 2 of $col-large);
    }
  }
}

//uslugi
.slide-uslugi {
    background:$dark-blue;
    color:$white;

    ul {
      @include bold;
      margin-bottom:40px;
      overflow:hidden;

      li {
        clear:both;
        &:before {
          content:"- ";
        }
      }
   }
}

@include breakpoint($medium-up) {
  .slide-uslugi {
      background:rgba($dark-blue, 0.85);

      ul {

        li {
          @include light;
          @include large;
          float: left;
          line-height: 1.6em;
          padding-right: rem-calc(90px);
          position: relative;
          clear: none;
          &:before {
            content: "";
            height: 3px;
            position: absolute;
            bottom: 0.6em;
            right: rem-calc(15px);
            display: block;
            width: rem-calc(60px);
            background: #b5e0e8;
          }
        }
     }
  }
}
@include breakpoint($xxlarge-up) {
  .slide-uslugi ul li {
    @include adjust-font-size-to(($f-xlarge + $f-large)/2*0.8);
  }
}
@include breakpoint($xxxlarge-up) {
  .slide-uslugi ul li {
    @include adjust-font-size-to(($f-xlarge + $f-large)/2);
  }
}

@import "slides/personel";

// slide historia
.slide-historia {
  h1 {
    @include xlarge;
    @include trailer();
  }
  p:first-child {
    @include regular;
  }
  p {
    @include trailer($lil);
  }
  img {
    @include gallery(2);
  }
}
