<!DOCTYPE html>
<html class="no-js no-touch">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Organization">

    {% include header.html %}

    <div class="main-container" id="top">

      {% for slide in site.slides %}

        <div id="{{slide.type}}" class="row slide slide-{{slide.type}} {% if slide.fullscreen %} mh-100 {% endif %}">
          {% include slides/{{slide.type}}.html %}
        </div>

      {% endfor %}
    </div>

    {% include footer.html %}

  </body>
</html>